:root {
  --backgroundcolor: #faeee7;
  --hrColor: #ef1053;
  --linkColor: #fa709a;
  --borderColor: #fa709a;
  --mainFontColor: #33272a;
  --buttonColor: #fa709a;
  --hoverColor: #ff96b5;
  --footerColor: #fa709a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundcolor);
  margin: 0 auto;
  padding: 0;
  font-family: "Playfair Display", serif;
  width: 100%;
  box-sizing: border-box;
  border-style: ridge;
  border-width: 2px;
  border-color: var(--borderColor);
  color: var(--mainFontColor);
}

/* header / nav sections */
header {
  width: 100%;
  text-align: center;
  background-color: #f8f9fa;
}

.navbar-toggler {
  padding: 1px;
  border-radius: 5px;
}

.navbar-toggler-icon {
  width: 25px;
}

.nav-item {
  font-size: 10px;
}

.nav-item:hover {
  text-decoration: overline dotted var(--hoverColor);
  margin: 2px auto;
  border-radius: 5px;
}

/* main css starts here */
div#profile-photo-div {
  padding-top: 20px;
}
.profile-photo {
  width: 150px;
  height: 150px;
  border: 5px dotted var(--borderColor);
  border-radius: 100%;
}
main {
  margin-bottom: 50px;
  text-align: center;
  background-color: var(--backgroundcolor);

  max-width: 500px;
  margin: 0 auto;
}

#about-me {
  margin-top: 50px;
}

h2 {
  font-size: 28px;
}

h1 {
  font-size: 24px;
}

.greeting-name {
  color: white;
}
h4 {
  font-size: 18px;
}

p {
  font-size: 10px;
  padding: 0 10px 0 10px;
  text-align: justify;
}

hr {
  border: 2px solid var(--hrColor);
}

/* skills css starts here */
.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons,
.title,
.years {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons {
  font-size: 16px;
}

.title,
.years {
  font-size: 10px;
}

.fa-bootstrap {
  margin-left: 15px;
}

.fa-github {
  margin-left: 20px;
}

/* project div starts here */

#project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project-holder {
  height: auto;
  margin: 5px 5px;
  width: 100%;
  /* padding: 5px; */
}

.information {
  display: inline-block;
  color: white;
  background-color: var(--linkColor);
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  font-size: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 0;
}
.information:hover {
  background-color: var(--linkColor);
}

.project_details {
  text-decoration: underline var(--borderColor);
}

/* project images */
.mockup-icons {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.language,
.card-link {
  margin: 0 auto;
  font-size: 0.5em;
}

.card-link {
  text-decoration: none;
  color: #e0aac7;
  cursor: pointer;
}

.card-link:hover {
  text-decoration: overline dotted;
  color: var(--hoverColor);
}

.mockup-paragraph {
  display: block;
}

ul li {
  font-size: 10px;
  padding: 0 10px 0 10px;
  text-align: justify;
}
.project-name {
  font-size: 10px;
}
/* contact starts here */

#contact-div p {
  text-align: center;
}

.mailto a {
  text-decoration: none;
  background-color: #e0aac7;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
}
/* Footer css starts here */
footer {
  background-color: var(--footerColor);
  text-align: center;
  font-size: 10px;
}

.footer-hr {
  border: solid 1px white;
  width: 400px;
  margin: auto auto;
}

footer a {
  text-decoration: none;
  color: white;
}

.fa-footer {
  margin: 5px;
  font-size: 20px;
}

/* Set up the typing animation */
@keyframes typing {
  from {
    width: 0;
  }
}
/* Apply styling to the text */
#typing-text {
  font-size: 24px;
  animation: typing 2s steps(40, end);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
  color: var(--hrColor);
}

/* Add a blinking cursor */
#typing-text:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
  width: 1px;
  height: 24px;
  background-color: #000;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@media screen and (max-width: 400px) {
  #project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project-holder {
    height: auto;
    margin: 5px 5px;
    width: 100%;
    /* padding: 5px; */
  }
}
