html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(248, 249, 250);
  margin: 0 auto;
  padding: 0;
  font-family: "Playfair Display", serif;
  width: 100%;
  box-sizing: border-box;
}

/* header / nav sections */
header {
  width: 100%;
  text-align: center;
  background-color: #e0aac7;
}

/* main css starts here */
div#profile-photo-div {
  padding-top: 20px;
}
.profile-photo {
  width: 150px;
  border: 5px solid white;
  border-radius: 100%;
}
main {
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
}

#about-me {
  margin-top: 50px;
}

h2 {
  font-size: 28px;
}

h1 {
  font-size: 24px;
}

.greeting-name {
  color: white;
}
h4 {
  font-size: 18px;
}

p {
  font-size: 10px;
  padding: 0 10px 0 10px;
  text-align: justify;
}

hr {
  border: 2px solid rgb(240, 56, 97);
}

/* skills css starts here */
.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons,
.title,
.years {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons {
  font-size: 16px;
}

.title,
.years {
  font-size: 10px;
}

.fa-bootstrap {
  margin-left: 15px;
}

.fa-github {
  margin-left: 20px;
}

/* project div starts here */

#project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project-holder {
  height: auto;
  margin: 5px 5px;
  width: 100%;
  /* padding: 5px; */
}
.div-background {
  background-image: url(./images/weather-app.png);
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

strong {
  display: inline-block;
  color: white;
  background-color: #e0aac7;
  margin: 80px auto;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
strong:hover {
  background-color: rgb(186, 130, 238);
}
.mockup-icons {
  width: 200px;
  padding-bottom: 0;
}

.language,
.card-link {
  margin: 0 auto;
  font-size: 0.5em;
}

.card-link {
  text-decoration: none;
  color: #e0aac7;
  cursor: pointer;
}

.card-link:hover {
  text-decoration: overline;
  color: rgb(186, 130, 238);
}

.mockup-paragraph {
  display: none;
}
*/
/* contact div starts here
#contact-div p {
  text-align: center;
}

.mailto a {
  text-decoration: none;
  background-color: #e0aac7;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
}
/* Footer css starts here */
footer {
  background-color: #e0aac7;
  text-align: center;
  font-size: 10px;
}

.footer-hr {
  border: solid 1px white;
  width: 400px;
  margin: auto auto;
}

footer a {
  text-decoration: none;
  color: white;
}

.fa-footer {
  margin: 5px;
  font-size: 20px;
}

@media screen and (max-width: 400px) {
  #project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project-holder {
    background-color: rgb(248, 249, 250);
    height: auto;
    margin: 5px 5px;
    width: 100%;
    /* padding: 5px; */
  }
}
