html {
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: gray;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  width: 100%;
}

/* Header and nav style starts here */
#header-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav {
  text-align: left;
  display: block;
  flex-grow: 2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  position: relative;
  float: right;
  margin: 15px;
}

li a {
  text-decoration: none;
  color: #9bcb3c;
  font-size: 0.8em;
  border-top: 2px solid #f03861;
}

li a:hover {
  text-shadow: 5px 5px 4px #00ff00;
  border: none;
  color: #9bcb3c;
}

.navname {
  float: left;
  font-size: 0.6rem;
  text-transform: uppercase;
}

/* Greeting and h1 style starts here */
#greeting-container {
  text-align: center;
  position: absolute;
  top: 250px;
  letter-spacing: 2px;
  margin: 0 auto;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.greeting-name {
  color: #f03861;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2rem;
}

span {
  color: #9bcb3c;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  margin: 0 auto;
  display: inline-block;
}

h4 {
  font-size: 0.8em;
  right: 100px;
  margin: 0 auto;
}

button {
  border: none;
  text-shadow: 5px 5px 4px #00ff00;
  background-color: transparent;
  margin: 0;
  position: relative;
  top: 50%;
  font-size: 0.8em;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 10px;
}

button a {
  text-decoration: none;
  color: #9bcb3c;
  margin: 0 auto;
}

button:hover {
  text-shadow: 5px 5px 4px #00ff00;
  border-bottom: 2px solid #f03861;
  color: #9bcb3c;
}

a:hover {
  color: #9bcb3c;
}

/* About me and main style starts here */
main {
  width: 100%;
}
h2 {
  top: 35px;
  position: relative;
  font-size: 1.2em;
  text-align: center;
  color: #9bcb3c;
  letter-spacing: 2px;
  text-decoration: overline #f03861;
  text-transform: uppercase;
  margin: 0 auto;
}
#about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 35px;
  height: 200px;
  width: 45rem;
  margin: 0 auto;
}

.about-paragraph {
  text-align: left;
  font-size: 0.6rem;
  letter-spacing: 0.9px;
  display: flex;
  align-self: flex-end;
  width: 30rem;
  bottom: 150px;
  padding: 20px;
  font-family: "Playfair Display", serif;
}

p {
  margin-top: 50px;
}

.profile-photo {
  display: flex;
  align-self: center;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  bottom: -10px;
}

/* Skills section style starts here */
div.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 100px;
  /* width: 600px; */
  margin: 0 auto;
}

h2#skills.skills-h2 {
  height: 80px;
}

.tech-heading {
  display: block;
  font-size: 0.8em;
  background-color: #f03861;
  color: white;
  text-align: center;
  width: 80px;
  margin: 15px auto;
}
.tech-paragraph {
  font-size: 0.6em;
  letter-spacing: 0.9px;
}
.fa-brands {
  color: #ef5f7e;
  font-size: 3rem;
  padding: 40px;
}

/* Project edits starts here */
section#projects.reveal.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 600px;
  margin: 0 auto;
}

div.card {
  top: 70px;
  background-color: aliceblue;
  border: none;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 90px;
  font-size: 0.8rem;
  letter-spacing: 0.9px;
}

img.mockup-icons {
  width: 100%;
  display: block;
}
h6.projects-h6 {
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  color: #9bcb3c;
  text-decoration: overline #f03861;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  top: 60px;
  margin: 0 auto;
}
.mockup-paragraph {
  font-size: 0.8em;
  width: auto;
  text-align: left;
  margin-top: -40px;
}

.mockup-title {
  font-size: 1.2rem;
  color: gray;
  text-align: center;
  margin-bottom: -40px;
}

.mockup-links a.card-link {
  font-size: 0.8em;
  text-decoration: none;
  margin-top: -20px;
  color: gray;
  text-align: center;
}

/* contact style starts here */
#contact {
  text-align: center;
  background-image: url("./images/singlerose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

h2.h2-contact {
  margin-bottom: 30px;
}

input#name,
input#email,
textarea {
  width: 50%;
  background-color: rgb(30, 36, 44);
  color: rgb(246, 246, 246);
  border: none;
  border-radius: 2px;
  font-size: 0.7rem;
}

.contact-button {
  border: 1px solid #f03861;
  background-color: transparent;
  border-radius: 2px;
  color: #9bcb3c;
  margin: 0;
  font-size: 0.7em;
}

.contact-button:hover {
  text-shadow: 5px 5px 4px #00ff00;
  border: none;
  color: #9bcb3c;
}

.contact-paragraph {
  font-size: 0.7rem;
  padding-top: 10px;
}

textarea::placeholder {
  color: #f03861;
}

textarea {
  width: 50%;
  margin-top: 6px;
}
input#email::placeholder {
  color: #f03861;
}

input#name::placeholder {
  color: #f03861;
}

/* a.icons-credit {
  font-size: 6px;
  float: left;
  text-decoration: none;
  color: gray;
} */

/* footer style starts here */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(0, 22, 26);
}

.social-icons {
  width: 20px;
  padding: 5px;
  background-color: rgb(72, 77, 83);
  margin-left: 5px;
  border-radius: 5px;
}
.social-icons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.copyright {
  font-size: 0.5rem;
}
/* media queries starts here */
@media screen and (max-width: 600px) {
  html,
  body {
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .navname {
    display: none;
  }

  header {
    height: 500px;
    width: 100%;
  }

  li {
    display: inline;
    position: relative;
    float: none;
    margin: 10px;
  }

  nav {
    text-align: center;
    display: block;
    flex-grow: 2;
    margin: 10px;
  }

  h1,
  h4 {
    color: rgb(246, 246, 246);
  }

  h2,
  h6.projects-h6 {
    font-size: 1rem;
  }
  span.greeting-name {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  #about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: -200px;
    margin-top: 50px;
  }

  p.about-paragraph {
    margin-bottom: 15px;
    margin: auto;
    width: 350px;
  }

  .profile-photo {
    width: 140px;
    display: block;
    margin-top: 180px;
  }

  #skills {
    margin-top: 100px;
  }

  div.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  section#projects.reveal.active {
    width: 300px;
  }

  h6.projects-h6 {
    margin-top: -40px;
    margin-bottom: 40px;
  }

  .fa-brands {
    color: #ef5f7e;
    font-size: 2.5rem;
    padding: 10px;
  }
}

.logo-name-duration {
  font-size: 0.5rem;
  display: block;
  margin: 0 atuo;
  padding-left: 50px;
}
